---
import LinkButton from './LinkButton.astro';
import type { ProjectModel } from '../types';
import TagContainer from './TagContainer.astro';

export interface Props {
  project: ProjectModel
}

const { project } = Astro.props as Props;

---
<div class="projectMain">
        <div>
                <h3>{project.name}</h3>

                {project.about.map((paragraph) => (
                        <>
                        <p><Fragment set:html={paragraph}/></p>
                        </>
                ))}

        <LinkButton links={project.links}/>
        {project.tags && <TagContainer labelledContent={project.tags}/>}
        </div>
        <div>
                <h4>Key learnings:</h4>

                <ul>
                        {project.keyLearnings && project.keyLearnings.map((keyLearning) => (
                                <>
                                <li> <Fragment set:html={keyLearning}/> </li>
                                </>
                        ))}
                </ul>
        </div>
</div>



<style>

.projectMain {
        display: flex;
        flex-direction: column;
        gap: 2px;
        background-color: #262626;
        padding: 2px 6px;
        border-radius: 4px;
}

</style>