---
import ShowHideSection from './ShowHideSection.jsx';
import LinkBox from './LinkBox.astro';

import type { ProjectModel } from '../types';
import TagContainer from './TagContainer.astro';

export interface Props {
  project: ProjectModel
}

const { project } = Astro.props as Props;

---
<div>
        <div class="projectMain"> 
                <div class="projectDetails">
                        <img src={project.imageLink} class="image"/> 
                        <h3>{project.name}</h3>
                        {project.links.length > 0 && <LinkBox links={project.links}/>}
                        {project.about.map((paragraph) => (
                                <>
                                <p><Fragment set:html={paragraph}/></p>
                                </>
                        ))}
                </div>

                {project.tags && <TagContainer labelledContent={project.tags}/>}
        </div>

        <ShowHideSection client:visible> {project.keyLearnings && project.keyLearnings.map((keyLearning) => (
                        <>
                        <li> <Fragment set:html={keyLearning}/> </li>
                        </>
                ))} 
        </ShowHideSection>
</div>

<style>


.image {
        margin-bottom: 10px;
        max-height: 100%;
        max-width: 100%;
}
.projectMain {
        display: flex;
        flex-direction: column;
        gap: 12px;
        background-color: var(--neutral3);
        padding: 15px 20px 10px 10px;
        border-radius: 4px 4px 0px 0px;
}

.projectDetails {
        display: flex;
        flex-direction: column;
        gap: 4px;
}

.projectDetails h3 {
        margin: auto 0 auto 0;
}

</style>