---
import LinkButton from './LinkButton.astro';
import ShowHideSection from './ShowHideSection.jsx';

import type { ProjectModel } from '../types';
import TagContainer from './TagContainer.astro';

export interface Props {
  project: ProjectModel
}

const { project } = Astro.props as Props;

---
<div>
        <div class="projectMain"> 
                <h3>{project.name}</h3>

                {project.about.map((paragraph) => (
                        <>
                        <p><Fragment set:html={paragraph}/></p>
                        </>
                ))}

        <LinkButton links={project.links}/>
        {project.tags && <TagContainer labelledContent={project.tags}/>}
        </div>
        <ShowHideSection client:visible> {project.keyLearnings && project.keyLearnings.map((keyLearning) => (
                        <>
                        <li> <Fragment set:html={keyLearning}/> </li>
                        </>
                ))} 
        </ShowHideSection>
</div>

<style>

.projectMain {
        display: flex;
        flex-direction: column;
        gap: 2px;
        background-color: var(--neutral3);
        padding: 2px 20px 10px 10px;
        border-radius: 4px 4px 0px 0px;
}

</style>